
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 25px;
    margin-left: 30px;
    gap: 50px;
   
  }
  
  .hero-content {
    max-width: 50%;
    padding: 40px;
  }
  
  .hero-content h1 {
    font-size: 50px;
    color: #091133;
  }
  
  .hero-content p {
    font-size: 18px;
    color:  #505F98;
    margin-top: 20px;
    line-height: 1.6;
  }
  
  .hero-buttons {
    margin-top: 40px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .btn.primary {
    background-color:  #111B47;
    color: white;
    width: 189px;

  }
  
  .btn.secondary {
    background-color: white;
    color: #091133;
    width: 189px;
    border: 2px solid #091133; 
  }
  
  .hero-image img {
    max-width: 100%;
    height:auto;
  }
  